html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
background: #419D78;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.head {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

h1, h2, p {
font-family: 'Raleway', sans-serif;
}

p, h2{
  text-align: center;
}

h1, h2 {
  color: #EAFDF8;
}

h1 {
  font-size: 4.875em;
}

h2 {
  font-size: 4em;
}
span {

  font-family: 'Creepster', cursive;
  font-size: 2em;

}

#petTheCat{

  background:#FF8552;
  color: #EAFDF8;
  font-family: 'Ultra', serif;
  font-size: 40px;
  height:100px;
  width: 350px;
  border: 3px solid #EAFDF8;
  border-radius: 20px;

}

#catReact {
  color: #EAFDF8;
  justify-content: center;
    color: #EAFDF8;
    width: 100%;


}

.imageContainer {
  text-align: center;
}
