html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
background: #419D78;
width: min-content;
display: flex;
justify-content: center;
align-items: center;


}

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.head {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

h1, h2, p {
font-family: 'Raleway', sans-serif;
}

p, h2{
  text-align: center;
}

h1, h2 {
  color: #EAFDF8;
}

h1 {
  font-size: 4.875em;
}

h2 {
  font-size: 4em;
}
span {

  font-family: 'Creepster', cursive;
  font-size: 2em;
  color: #f5a573;

}




#petTheCat{


  background: #419d7803;
  font-family: 'Ultra', serif;
  font-size: 40px;
height: 930px;
width: 100%;
border: 0px solid #419D78;




}

#catReact {
  color: #EAFDF8;
  justify-content: center;
    color: #EAFDF8;
    width: 100%;


}

.imageContainer {
  text-align: center;
  position: relative;

}

.imageContainer .bttn {
  position: absolute;
    top: 0%;
    left: 0%;


}
